body {
    background-color: var(--background-color);
}

#footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 18px;
    font-size: 12px;
}

label {
    color: #CCC;
}

input:not([type="checkbox"]) {
    outline: none;
    padding: 0.4em;
    width: 300px;
    border-radius: 9px;
    border: 1px solid var(--secondary-color);
    color: #FFF;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 20px 0;
}

.main-nav__link {
    color: var(--secondary-color) !important;
}

.btn-main {
    background-color: var(--main-color);
    border-radius: 9px;
    border: none;
    padding: 5px 15px;
    color: white;
    font-weight: 600;
    align-self: flex-start;
}

.btn-search {
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-weight: bold;
    border: none;
    padding: 0.4em;
    cursor: pointer;
    border-radius: 0 9px 9px 0;
}

#load-elements-div > button:nth-child(1) {
    border-radius: 9px 0 0 9px;
}

#load-elements-div > button:nth-child(2) {
    border-radius: 0 9px 9px 0;
}

.disabled {
    background-color: #CCC;
    cursor: not-allowed;
}

.character-card {
    max-width: 160px;
}

.character-card:hover {
    color: var(--secondary-color);
}
