.btn-main {
    background-color: #158B44;
    border-radius: 9px;
    border: none;
    padding: 5px 15px;
    color: white;
    font-weight: 600;
    align-self: flex-start;
}

.btn-main:hover {
    background-color: #8BC546;
}

.link-main {
    color: #8BC546;
}

.link-main:hover {
    color: #158B44;
}

.login-form-container {
    width: min-content;
    padding: 20px;
    top: 0;
}

.sign-container {
    height: 100vh;
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: max-content;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.register-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.register-form>div {
    margin: 10px 0;
}

.register-form>div>input {
    width: 100%;
}

.register-form>div>label {
    margin-bottom: 5px;
}

/* mobile media query */
@media screen and (max-width: 768px) {
    .login-form-container {
        width: 100%;
    }

    .login-form>input:not([type="checkbox"]) {
        width: 100%;
    }

    .sign-container {
        width: 100%;
        margin: 0 auto;
    }

    .register-form {
        width: 100%;
    }
}