body {
    background-color: var(--background-color);
}

label {
    color: #CCC;
}

input:not([type="checkbox"]) {
    outline: none;
    padding: 0.4em;
    width: 300px;
    border-radius: 9px;
    border: 1px solid var(--secondary-color);
    color: #FFF;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 20px 0;
}

.main-nav__link {
    color: var(--secondary-color) !important;
}

.btn-search {
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-weight: bold;
    border: none;
    padding: 0.4em;
    cursor: pointer;
    border-radius: 0 9px 9px 0;
}

.api-element {
    max-width: 160px;
}