<div class="container pt-4 m-auto">
    <div class="col-12">
        <!-- search bar -->
        <div class="row">
            <div class="col-6 ms-auto me-auto">
                <div class="input-group mb-3">
                    <input id="search-character-input" type="text" class="form-control bg-dark text-light" placeholder="Buscar un personaje">
                    <div class="input-group-append">
                        <button class="btn-main ms-2 p-2" type="button" id="search-character-button">Button</button>
                    </div>
                </div>
            </div>
            <section id="characters-mount">
            </section>
        </div>
    </div>
