<div class="register-container pt-3 pb-3 bg-dark">
    <h2 class="text-light text-center">Registro</h2>
    <form class="register-form">
        <div>
            <label for="register-username">Nombre de usuario <span class="name-error"></span></label>
            <input type="text" class="bg-dark" id="register-username">
        </div>
        <div>
            <label for="register-email">Correo electrónico <span class="email-error"></span></label>
            <input type="email" class="bg-dark" id="register-email" placeholder="email@ejemplo.com">
        </div>
        <div>
            <label for="register-password">Contraseña <span class="password-error"></span></label>
            <input type="password" class="bg-dark" id="register-password">
        </div>
        <div>
            <label for="confirm-password">Confirmar contraseña <span class="repeat-password-error"></span></label>
            <input type="password" class="bg-dark" id="confirm-password">
        </div>
        <div class="btn-register-container">
            <button id="register-button" type="button" class="btn-main">Registrarse</button>
            <span id="span-error-message" class="text-danger ms-2"></span>
        </div>
    </form>
    <div class="card-body">
        <p class="card-text text-center text-light">
            ¿Ya estás registrado?
            <a href="#/login" class="link-main">
                Iniciá sesión
            </a>
        </p>
    </div>
</div>