<div class="container pt-4 m-auto">
    <div class="col-12">
        <div class="col-6 ms-auto me-auto">
            <div class="input-group mb-3">
                <input id="search-location-input" type="text" class="form-control bg-dark text-light"
                       placeholder="Buscar una ubicación">
                <div class="input-group-append">
                    <button class="btn-search ms-2 p-2" type="button" id="search-location-button">Buscar</button>
                </div>
            </div>
        </div>
        <section id="locations-mount">
        </section>
        <div id="load-elements-div" class="col-12 text-center">
            <button id="load-locations-button" class="btn-main mb-4">Cargar más</button>
        </div>
    </div>
</div>
